<!DOCTYPE html>
<html>
<head>
  <title></title>
  <style>
    span {
      padding: 10px;
      cursor: pointer;
    }
  </style>
</head>
<body ng-app="App">

  <div ng-controller="Page1">
    <h1>You are on page {{page}}</h1>
    <p>
      <i>If this count reset then page was refreshed {{count}}</i>
    </p>
    <span ng-repeat="p in pages"
      ng-click="gotoPage(p)">{{p}}</span>
  </div>

  <p>
    <a href="./pag2">Relative link</a> should not be intercepted
  </p>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.7/angular.min.js"></script>
  <script src="./app.js"></script>
</body>
</html>